<%= javascript_include_tag 'handle_create_book' %>

<%= form_with(model: @book, id: "form", url: books_path, method: :post) do |form| %>
    <div>
      <%= form.label :title %>
      <%= form.text_field :title ,id: "title"%>
    </div>
  
    <div>
      <%= form.label :description %>
      <%= form.text_area :description, id: "description" %>
    </div>
  
    <div>
      <%= form.submit 'Add Book',id: "submit_btn" %>
    </div>
  <% end %>
  
  <%= render partial:"shared/allbooks"%>
  